name: release

on:
  push:
    tags:
      - v*
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

env:
  REGISTRY: ghcr.io
  REPO: dnse-tech

jobs:
  build:
    name: build and package
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
        - s390x
    steps:

    - name : Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      # https://github.com/actions/checkout/releases/tag/v4.1.1

    - name: Setup Go
      uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
      # https://github.com/actions/setup-go/releases/tag/v5.0.0
      with:
        go-version-file: 'go.mod'

    - name: Build and package
      run: |
          ./scripts/build
          mkdir -p dist/artifacts
          cp bin/webhook dist/artifacts/webhook-linux-${{ matrix.arch }}
      env:
        ARCH: "${{ matrix.arch}}"
        GOARCH: "${{ matrix.arch}}"

    - name: Generate checksum files
      run: |
        ls -lR dist
        cd dist/artifacts
        sha256sum webhook-linux-${{ matrix.arch }} > sha256sum-${{ matrix.arch }}.txt

    - name: Upload artifacts
      # https://github.com/actions/upload-artifact/commit/65462800fd760344b1a7b4382951275a0abb4808
      uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
      with:
        name: webhook-artifacts-${{ matrix.arch }}
        path: |
          dist/artifacts/webhook-linux-${{ matrix.arch }}
          dist/artifacts/sha256sum-${{ matrix.arch }}.txt
          dist/artifacts/rancher-webhook-*.tgz

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:

    - name : Checkout repository
       # https://github.com/actions/checkout/releases/tag/v4.1.1
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: package-helm
      run: ./scripts/package-helm

    - name: Download the s390x artifacts
      uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
      # https://github.com/actions/download-artifact/releases/tag/v4.1.7
      with:
        name: webhook-artifacts-s390x
        path: dist/artifacts

    - name: Get the version
      run: |
        source ./scripts/version
        echo "TAG=$(echo $TAG | sed 's/-amd64$//')" >> $GITHUB_ENV

    - name: Upload the files
      run: |
        ls -lR dist
        cd dist/artifacts
        gh --repo "${{ github.repository }}" release create ${{ github.ref_name }} --prerelease --verify-tag --generate-notes webhook-linux-* sha256sum-*.txt rancher-webhook*.tgz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  image:
    permissions:
      contents: read
      id-token: write
      packages: write # Permission to push to GitHub Packages
    strategy:
      matrix:
        arch:
        - s390x
    name: Build and push Webhook images
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name : Checkout repository
        # https://github.com/actions/checkout/releases/tag/v4.1.1
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Download the artifacts
        uses: actions/download-artifact@cc203385981b70ca67e1cc392babf9cc229d5806 # v4.1.9
        # https://github.com/actions/download-artifact/releases/tag/v4.1.7
        with:
          name: webhook-artifacts-${{ matrix.arch }}
          path: dist/artifacts

      - name: Move binary to bin/
        run: |
          mkdir -p bin/
          cp -v dist/artifacts/webhook-linux-${{ matrix.arch }} bin/webhook
          chmod +x bin/webhook

      - name: Set up QEMU
        # https://github.com/docker/setup-qemu-action/releases/tag/v3.1.0
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
        # https://github.com/docker/setup-buildx-action/releases/tag/v3.4.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # setup tag name
      - if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo TAG_NAME=$(echo $GITHUB_REF | sed -e "s|refs/tags/||") >> $GITHUB_ENV

      - name: Build and push the webhook image
        id: build
        # https://github.com/docker/build-push-action/releases/tag/v6.3.0
        uses: docker/build-push-action@ca877d9245402d1537745e0e356eab47c3520991 # v6.13.0
        with:
          context: .
          file: ./package/Dockerfile
          platforms: "linux/${{ matrix.arch }}"
          tags: ghcr.io/dnse-tech/rancher-webhook:${{ env.TAG_NAME }}-s390x
          push: true